.flex-properties {
  display: flex;
  justify-content: center;
}
body {
  background-color: #f5f5f0;
}
body .calculator-wrapper h1 {
  text-align: center;
}
body .calculator-wrapper .calculator-input {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body .calculator-wrapper .calculator-input input {
  width: 100%;
  min-width: 50px;
  border-radius: 10px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  border: 0;
  padding: 20px 10px;
  text-align: center;
  background: #ace600;
  color: #000000;
}
body .calculator-wrapper .calculator-num-panel {
  display: flex;
  flex-direction: column;
}
body .calculator-wrapper .calculator-num-panel .row {
  display: flex;
  flex-direction: row;
}
body .calculator-wrapper .calculator-num-panel .input-tile {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 5px;
  align-items: center;
  height: 50px;
}
body .calculator-wrapper .calculator-num-panel .input-tile button {
  cursor: pointer;
  width: 100%;
  min-width: 50px;
  height: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
  color: #ace600;
  background: #000000;
}
body .calculator-wrapper .calculator-num-panel .input-tile button:hover {
  background: #ace600;
  color: #000000;
}
body .calculator-wrapper .calculator-num-panel .input-tile button:active {
  background-color: #33cc33;
  color: #000000;
}
body .calculator-wrapper .calculator-num-panel .input-tile .btn-clear {
  background: dodgerblue;
  color: black;
}
body .calculator-wrapper .calculator-num-panel .input-tile .btn-delete {
  background: crimson;
  color: white;
}
body .calculator-wrapper .calculator-num-panel .input-tile .btn-equals {
  background: darkorange;
  color: black;
}
@media (min-width: 768px) {
  .calculator-wrapper {
    width: 40%;
    margin: 0 auto;
  }
}
